body {
    background-color: #f2f2f2; 
}

h1, 
h2 {
    color: #313740;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #3290A6;
    font-family: 'Archivo', sans-serif;
}

a:hover {
    color: #99B8BF;
    font-family: 'Archivo', sans-serif;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #343a40;
}

span {
    font-family: 'Archivo', sans-serif;
}

p {
    font-family: 'Archivo', sans-serif;
}

#questionTitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#answerCheck {
    font-style: italic;
    color: #4D5159;
}
